@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --primary-font-color: #fbd784;
  --primary-bg-color: #0b1d26;
  --wh: 45px;
}

body {
  font-family: Poppins, sans-serif;
  color: #fff;
  background-color: var(--primary-bg-color);
}
body a {
  color: #fff;
}
body img {
  pointer-events: none;
}
body.lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1470px;
}

.logo {
  display: inline-block;
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  display: inline-block;
  font-weight: 800;
  font-size: clamp(0.875rem, 0.805rem + 0.35vw, 1.125rem);
  letter-spacing: clamp(0.125rem, 0.055rem + 0.35vw, 0.375rem);
  text-transform: uppercase;
  color: var(--primary-font-color);
  position: relative;
  top: 0;
  left: 104px;
}
.title::before {
  content: "";
  position: absolute;
  left: -104px;
  top: 45%;
  width: 72px;
  height: 2px;
  background-color: var(--primary-font-color);
}

.header {
  padding-top: clamp(2.5rem, 1.804rem + 3.48vw, 5rem);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__login {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__login::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/account.svg) center/cover no-repeat;
  margin-right: 10px;
}
@media (any-hover: hover) {
  .header__login:hover {
    -webkit-animation: wiggle 0.5s linear;
            animation: wiggle 0.5s linear;
  }
}

@-webkit-keyframes wiggle {
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes wiggle {
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.menu__link {
  font-weight: 700;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--primary-font-color);
  }
}

.burger-menu {
  width: var(--wh);
  height: var(--wh);
  position: relative;
  top: 19px;
  right: 15px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  cursor: pointer;
  display: none;
}
.burger-menu span,
.burger-menu span:before,
.burger-menu span:after {
  height: 6px;
  width: var(--wh);
  background-color: #fff;
  border-radius: 20px;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.burger-menu span {
  position: absolute;
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.burger-menu span:before,
.burger-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  -o-transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s, -webkit-transform 0.25s;
}
.burger-menu span:before {
  top: -16px;
}
.burger-menu span:after {
  top: 16px;
}
.burger-menu.active span {
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
  background: transparent;
}
.burger-menu.active span:before, .burger-menu.active span:after {
  -webkit-transition: top 0.25s, -webkit-transform 0.25s 0.25s;
  transition: top 0.25s, -webkit-transform 0.25s 0.25s;
  -o-transition: top 0.25s, transform 0.25s 0.25s;
  transition: top 0.25s, transform 0.25s 0.25s;
  transition: top 0.25s, transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
  top: 0px;
}
.burger-menu.active span:before {
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
}
.burger-menu.active span:after {
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 30px;
    background: var(--primary-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .menu__link {
    font-size: 30px;
  }
  .menu.active {
    right: 0;
  }
  .header__container {
    display: grid;
    grid-template-columns: 1fr 35px 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .header__login {
    justify-self: end;
  }
  .header__login::before {
    width: var(--wh);
    height: var(--wh);
  }
  .header__login span {
    display: none;
  }
  .burger-menu {
    justify-self: end;
    display: block;
    z-index: 2;
  }
}
.hero {
  padding: 300px 0 845px 0;
  background: url(./../img/BG.jpg) center/cover no-repeat;
}
.hero__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 990px;
  -webkit-transition: all 0.2s cubic-bezier(0.64, 0.22, 0.235, 1.25);
  -o-transition: all 0.2s cubic-bezier(0.64, 0.22, 0.235, 1.25);
  transition: all 0.2s cubic-bezier(0.64, 0.22, 0.235, 1.25);
}
@media (any-hover: hover) {
  .hero__container:hover {
    -webkit-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}
.hero__title {
  margin: 0 0 32px 0;
}
.hero__descr {
  margin: 0 0 32px 0;
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: clamp(1.875rem, 1.179rem + 3.48vw, 4.375rem);
  line-height: clamp(2.813rem, 1.856rem + 4.78vw, 6.25rem);
  text-transform: capitalize;
}
.hero__scroll {
  font-weight: 700;
  position: relative;
}
.hero__scroll svg {
  position: absolute;
  display: block;
  top: 0;
  right: -25px;
}

.guide {
  margin: -300px 0 0 0;
}
.guide__row {
  margin-bottom: clamp(5rem, 2.913rem + 10.43vw, 12.5rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.guide__text {
  position: relative;
  padding-top: clamp(0rem, -2.435rem + 12.17vw, 8.75rem);
  padding-left: clamp(0rem, -2.435rem + 12.17vw, 8.75rem);
  font-weight: 700;
  font-size: 18px;
}
.guide__text::before {
  display: block;
  content: attr(data-number);
  position: absolute;
  top: 5%;
  left: 0;
  width: clamp(7.5rem, 5.413rem + 10.43vw, 15rem);
  height: clamp(7.5rem, 5.413rem + 10.43vw, 15rem);
  font-size: clamp(7.5rem, 5.413rem + 10.43vw, 15rem);
  color: rgba(255, 255, 255, 0.1);
}
.guide__title {
  margin: 0 0 27px 0;
}
.guide__subtitle {
  margin: 0 0 27px 0;
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: clamp(1.563rem, 0.884rem + 3.39vw, 4rem);
  line-height: clamp(1.875rem, 1.058rem + 4.09vw, 4.813rem);
}
.guide__descr {
  margin: 0 0 27px 0;
  font-weight: 700;
  line-height: clamp(1.563rem, 1.441rem + 0.61vw, 2rem);
}
.guide__link {
  color: var(--primary-font-color);
  position: relative;
}
.guide__link svg {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -35px;
}
.guide__image {
  width: 100%;
  overflow: hidden;
}
.guide__image img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  padding-top: 10px;
  padding-bottom: clamp(1.563rem, 1.441rem + 0.61vw, 2rem);
  border-top: 2px solid #0b1d00;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__left {
  position: relative;
}
.footer__logo {
  margin: 0 0 24px 0;
}
.footer__descr {
  max-width: 303px;
  font-weight: 700;
  line-height: clamp(1.125rem, 0.882rem + 1.22vw, 2rem);
}
.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(0.938rem, -0.541rem + 7.39vw, 6.25rem);
}
.footer__subtitle {
  display: inline-block;
  margin: 0 0 24px 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-font-color);
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__link {
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media (any-hover: hover) {
  .footer__link:hover {
    opacity: 0.5;
  }
}

@media (max-width: 1023px) {
  .guide__row {
    grid-template-columns: auto;
    gap: 30px;
  }
  .guide__image img {
    margin: 0 auto;
  }
}
@media (max-width: 870px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }
  .footer__right,
.footer__left,
.footer__descr {
    text-align: center;
    max-width: none;
  }
  .footer__copyright {
    position: relative;
    left: 0;
    top: 50px;
  }
}
@media (max-width: 500px) {
  .footer__right {
    grid-template-columns: auto;
  }
}